<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>local.dimd</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/sour4bh/projects/dimd/dimd</string>
        <string>--threshold</string>
        <string>600</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>LimitLoadToSessionType</key>
    <string>Aqua</string>
    <key>StandardOutPath</key>
    <string>/Users/sour4bh/Library/Logs/dimd.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/sour4bh/Library/Logs/dimd.log</string>
</dict>
</plist>
